
/*allows you to make divs flow in line*/
.block {
  display: inline-block;
  vertical-align: top;
  zoom: 1;
}


/* thin border around divs to make it look like its in a container */
.thin-border {
  border: 1px solid black;
}


/*hide the overflow */
/*mainly used so the boxes dont expand funny vertically*/
.overflow-hidden {
  overflow: hidden;
}


/* this makes a div or element look like the user can click in it */
.clickable {
  cursor: pointer;
}

 /*background for tabs*/
.blue-background {
  background-color: lightblue;
}

/*display red boxes when a textbox is invalid*/
textarea.ng-invalid.ng-dirty {
  border: 1px solid red;
}